.Home,
.text {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.Home {
    height: 110vh;
    justify-content: space-between;
}
.title {
    font-family: "Patrick Hand", cursive;
    font-size: 16vw;
    font-weight: bold;
    text-transform: uppercase;

    margin: 0vh;
}
.blurb {
    font-family: "Roboto", sans-serif;
    font-size: 6.5vw;
    font-weight: 800;
    text-transform: uppercase;

    width: 90vw;
    text-align: center;
}
.info {
    font-family: "Roboto", sans-serif;
    font-size: 4.5vw;
    font-weight: 700;
    text-transform: uppercase;

    width: 80vw;
    text-align: center;

    padding: 20px;
    border-radius: 10px;
    background-color: var(--pink);
}

.logo-img {
    width: 95vw;
}

.Home .button {
    margin-bottom: 15vh;
}
