:root {
    --answer-transition-time: 0.2s;
}

.questionWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.number {
    color: var(--bg);
    background-color: var(--pink);

    width: 100px;
    height: 100px;
    border-radius: 50%;

    font-size: 4rem;
    font-weight: bolder;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.75;
    position: absolute;
    z-index: -1;
    top: -20px;
    left: -20px;
}

.question {
    font-weight: 600;
    font-size: 1.4rem;

    width: 80vw;
    margin-left: auto;
}

.answersCol {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.answer {
    width: 90vw;
    margin: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.288);
    padding: 0px 10px;
}

.answer p {
    font-size: 0.9rem;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    margin-left: 5px;
}

.outerCircle,
.innerCircle {
    border-radius: 50%;
    transition: border-color var(--answer-transition-time),
        background-color var(--answer-transition-time),
        width var(--answer-transition-time),
        height var(--answer-transition-time);
}

.outerCircle {
    border: 2px solid;
    background-color: transparent;
    width: 14px;
    height: 14px;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;
}

.radio:checked ~ .outerCircle .innerCircle {
    width: 11px;
    height: 11px;
    background-color: #00e600;
}
.radio:not(:checked) ~ .outerCircle .innerCircle {
    background-color: gray;
    width: 0px;
    height: 0px;
}

.radio:checked ~ .outerCircle {
    border-color: lime;
}
.radio:not(:checked) ~ .outerCircle {
    border-color: gray;
}

.radio {
    display: none;
}
