:root {
    --answer-transition-time: 0.2s;
}

.number {
    color: var(--bg);
    background-color: var(--pink);

    width: 100px;
    height: 100px;
    border-radius: 50%;

    font-size: 4rem;
    font-weight: bolder;
    margin: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0.65;
    position: absolute;
    z-index: -1;
    top: -20px;
    left: -20px;
}

.question {
    font-weight: 600;
    font-size: 1.4rem;

    width: 80vw;
    margin-left: auto;
}

.outerCircle,
.innerCircle {
    border-radius: 50%;
    transition: border-color var(--answer-transition-time),
        background-color var(--answer-transition-time),
        width var(--answer-transition-time),
        height var(--answer-transition-time);
}

.outerCircle {
    border: 2px solid;
    background-color: transparent;
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.innerCircle.active {
    width: 17px;
    height: 17px;
    background-color: #00e600;
}
.innerCircle.inactive {
    background-color: gray;
    width: 0px;
    height: 0px;
}

.outerCircle.active {
    border-color: lime;
}
.outerCircle.inactive {
    border-color: gray;
}
