@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text);
    background-color: var(--bg);
}

code {
    font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --bg: #d9dcd6;
    --text: #303036;
    --text2: #e3e7e0;
    --pink: #f78dad;
    --blue: #59b8f3;
    --green: #00e600;
}
